.wrapper {
    display: flex;
    flex-direction: column;

    .row {
        display: flex;
        width: 100%;
        padding: 50px 0;
        background: #fff;
    }

    .columnCenter {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .columnRight {
        flex: 1;
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: flex-end;
    }

    .columnLeft {
        flex: 1;
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: flex-start;
    }

    .face {
        width: 300px;
        height: 300px;
        box-sizing: border-box;
        background: #fff;
        object-fit: contain;
        border: 1px #ddd solid;
        padding: 8px;
    }

    .match {
        width: 300px;
        text-align: center;
        background: #fff;
    }

    .progress {
        width: 300px;
    }

    .title {
        font-size: 16px;
        margin-bottom: 10px;
        text-align: center;
        width: 300px;
    }

    .button {
        text-align: center;
        background: #fff;
        padding: 40px 0;

        :global(.ant-btn) {
            font-size: 16px;
            padding: 0 20px;
            height: 52px;
        }
    }

    :global(.ant-upload-list-picture-card-container) {
        width: 300px;
        height: 300px;
    }

    :global(.ant-upload.ant-upload-select-picture-card) {
        width: 300px;
        height: 300px;
        margin: 0;
    }

    :global(.ant-upload-list-picture-card .ant-upload-list-item) {
        width: 300px;
        height: 300px;
        margin: 0;
    }

    :global(.ant-upload-list-item-uploading .ant-upload-list-item-info) {
        top: 80px;
        text-align: center;
    }

    :global(.ant-upload-list-item-uploading .ant-upload-list-item-progress) {
        top: 140px;
    }

}