.wrapper {
    display: flex;
    flex-direction: column;

    .row {
        display: flex;
        width: 100%;
        padding: 30px 0;
        background: #fff;
    }

    .columnCenter {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .columnRight {
        flex: 1;
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: flex-end;
    }

    .columnLeft {
        flex: 1;
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: flex-start;
    }

    .face {
        width: 300px;
        height: 300px;
        box-sizing: border-box;
        background: #fff;
        object-fit: cover;
        border: 1px #ddd solid;
        padding: 8px;
    }

    .matchsTitle {
        padding: 6px 0;
        text-align: center;
    }

    .matchs {
        display: flex;
        text-align: center;
        background: #fff;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        padding: 40px 0;

        .match {
            width: 320px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100px;
                height: 120px;
            }

            .result {
                width: 100px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                :global(.ant-tag) {
                    margin: 0
                }
            }
        }
    }

    .progress {
        width: 300px;
    }

    .title {
        font-size: 16px;
        margin-bottom: 10px;
        text-align: center;
        width: 300px;
        position: relative;
    }

    .typeSelect {
        width: 100px;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .button {
        text-align: center;
        background: #fff;
        padding: 20px 0;

        :global(.ant-btn) {
            font-size: 16px;
            padding: 0 20px;
            height: 52px;
        }
    }

    :global(.ant-upload-list-picture-card-container) {
        width: 300px;
        height: 300px;
    }

    :global(.ant-upload.ant-upload-select-picture-card) {
        width: 300px;
        height: 300px;
        margin: 0;
    }

    :global(.ant-upload-list-picture-card .ant-upload-list-item) {
        width: 300px;
        height: 300px;
        margin: 0;
    }

    :global(.ant-upload-list-item-uploading .ant-upload-list-item-info) {
        top: 80px;
        text-align: center;
    }

    :global(.ant-upload-list-item-uploading .ant-upload-list-item-progress) {
        top: 140px;
    }

}